form{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

label{
    color: white;
    font-size:20px;
}

/* label#text{
    margin-right:5%;
} */

input[type=button], input[type=submit]{
    background-color: #49F2C2;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    margin: 2px 2px;
    cursor: pointer;
    font-size:15px;
  }

  input[type=text] {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-size:15px;
  }
  